{% extends "layouts/base-with-nav.njk" %}

{% block pageTitle %}
  Warning | RRDM
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Warning</h1>
      
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          {{ warningMessage }}
        </strong>
      </div>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Access Denied</h2>
            <p class="govuk-body">
              You do not have the required permissions to perform this action.
            </p>
            <p class="govuk-body">
              {{ detailedMessage }}
            </p>
          </div>
          
          <div class="govuk-button-group">
            <a href="{{ returnUrl }}" class="govuk-button" data-module="govuk-button">
              Return to Previous Page
            </a>
            <a href="/bcr/submissions" class="govuk-link govuk-!-margin-left-3">
              Back to BCR List
            </a>
          </div>
        </div>
        
        <div class="govuk-grid-column-one-third">
          <div class="govuk-inset-text">
            <h3 class="govuk-heading-s">Need Help?</h3>
            <p class="govuk-body">
              If you believe you should have access to this functionality, please contact your system administrator.
            </p>
            <p class="govuk-body">
              For more information about user roles and permissions in the BCR system, please refer to the documentation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
