{% extends "../layout.njk" %}

{% block pageTitle %}
  {{ title }} - RRDM
{% endblock %}

{% block breadcrumbs %}
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/bcr/dashboard">BCR Dashboard</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/impacted-areas">Impacted Areas</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    Edit Area
  </li>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Edit Impacted Area</h1>
      
      <form action="/impacted-areas/{{ area.id }}" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name="_method" value="PUT">
        
        <div class="govuk-form-group {% if error and not formData.name %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="name">
            Area Name *
          </label>
          <div class="govuk-hint">
            A short, descriptive name for the impacted area
          </div>
          {% if error and not formData.name %}
            <p id="name-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Area name is required
            </p>
          {% endif %}
          <input class="govuk-input {% if error and not formData.name %}govuk-input--error{% endif %}" id="name" name="name" type="text" value="{{ formData.name if formData else area.name }}">
        </div>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="description">
            Description
          </label>
          <div class="govuk-hint">
            A brief description of what this area encompasses
          </div>
          <textarea class="govuk-textarea" id="description" name="description" rows="3">{{ formData.description if formData else area.description }}</textarea>
        </div>
        
        <div class="govuk-form-group">
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="isActive" name="isActive" type="checkbox" value="true" 
                {% if (formData and formData.isActive) or (not formData and area.isActive) %}checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="isActive">
                Active
              </label>
              <div class="govuk-hint govuk-checkboxes__hint">
                Only active areas will be available for selection in BCR submissions
              </div>
            </div>
          </div>
        </div>
        
        <div class="govuk-inset-text">
          <h2 class="govuk-heading-m">Usage Information</h2>
          <p class="govuk-body">This impacted area is currently used in {{ area.bcrCount }} BCRs.</p>
          {% if area.bcrCount > 0 %}
            <p class="govuk-body govuk-!-font-weight-bold">Note: Changes to this area will affect all associated BCRs.</p>
          {% endif %}
        </div>
        
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Update Area
          </button>
          <a href="/impacted-areas" class="govuk-button govuk-button--secondary">
            Cancel
          </a>
          {% if area.bcrCount === 0 %}
            <a href="/impacted-areas/{{ area.id }}/warning?action=delete" class="govuk-button govuk-button--warning">
              Delete Area
            </a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
