{% extends "../layout.njk" %}

{% block pageTitle %}
  {{ title }} - RRDM
{% endblock %}

{% block breadcrumbs %}
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/bcr/dashboard">BCR Dashboard</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/impacted-areas">Impacted Areas</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    Add New Area
  </li>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Add New Impacted Area</h1>
      
      <form action="/impacted-areas" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        
        <div class="govuk-form-group {% if error and not formData.name %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="name">
            Area Name *
          </label>
          <div class="govuk-hint">
            A short, descriptive name for the impacted area
          </div>
          {% if error and not formData.name %}
            <p id="name-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Area name is required
            </p>
          {% endif %}
          <input class="govuk-input {% if error and not formData.name %}govuk-input--error{% endif %}" id="name" name="name" type="text" value="{{ formData.name if formData else '' }}">
        </div>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="description">
            Description
          </label>
          <div class="govuk-hint">
            A brief description of what this area encompasses
          </div>
          <textarea class="govuk-textarea" id="description" name="description" rows="3">{{ formData.description if formData else '' }}</textarea>
        </div>
        
        <div class="govuk-form-group">
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="isActive" name="isActive" type="checkbox" value="true" {% if not formData or formData.isActive %}checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="isActive">
                Active
              </label>
              <div class="govuk-hint govuk-checkboxes__hint">
                Only active areas will be available for selection in BCR submissions
              </div>
            </div>
          </div>
        </div>
        
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Add Area
          </button>
          <a href="/impacted-areas" class="govuk-button govuk-button--secondary">
            Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
