{% macro csrfField() %}
  <input type="hidden" name="_csrf" value="{{ csrfToken }}">
{% endmacro %}

{% macro formStart(action, method="post", className="", id="", enctype="") %}
  <form action="{{ action }}" method="{{ method }}" class="{{ className }}" {% if id %}id="{{ id }}"{% endif %} {% if enctype %}enctype="{{ enctype }}"{% endif %} novalidate>
    {{ csrfField() }}
{% endmacro %}

{% macro formEnd() %}
  </form>
{% endmacro %}

{% macro submitButton(text="Submit", className="govuk-button") %}
  <button type="submit" class="{{ className }}" data-module="govuk-button">
    {{ text }}
  </button>
{% endmacro %}
