<div class="govuk-service-navigation funding-nav" data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Funding menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="funding-navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="funding-navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/funding">
              Funding Home
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/funding/requirements">
              Funding Requirements
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/funding/history">
              Funding History
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/funding/reports">
              Funding Reports
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/funding/structured-view">
              Structured View
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/funding/subject-records">
              Subject Records
            </a>
          </li>
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="/home">
              Back to Home
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
