{% extends "layouts/base-with-nav.njk" %}

{% set submission = submission or {} %}
{% set workflow = workflow or {} %}

{% block title %}Submission Details | Register Team Internal Services{% endblock %}

{% block navigation %}{% include "partials/bcr-navigation.njk" %}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">{{ submission.bcrCode or submission.submissionCode or 'Unknown' }}</h1>


      {% include "submissions/partials/details-tabs.njk" %}
    </div>
  </div>
{% endblock %}
