{% extends "../layout.njk" %}

{% block pageTitle %}
  {{ title }} - RRDM
{% endblock %}

{% block navigation %}
  {% include "partials/bcr-navigation.njk" %}
{% endblock %}

{% block breadcrumbs %}
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/bcr/dashboard">BCR Dashboard</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    New Submission
  </li>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">New BCR Submission</h1>
      
      {% if errors %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          {{ errorSummary | default('There is a problem') }}
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% for field, message in errors %}
              <li>
                <a href="#{{ field }}">{{ message }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      
      <p class="govuk-body">Use this form to submit a new Business Change Request (BCR). All fields marked with an asterisk (*) are required.</p>
      
      <form action="/bcr/submit" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        
        <div class="govuk-form-group {% if errors.fullName %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="fullName">
            Full Name *
          </label>
          {% if errors.fullName %}
            <p id="fullName-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ errors.fullName }}
            </p>
          {% endif %}
          <input class="govuk-input {% if errors.fullName %}govuk-input--error{% endif %}" id="fullName" name="fullName" type="text" value="{{ formData.fullName if formData else '' }}" aria-describedby="{% if errors.fullName %}fullName-error{% endif %}">
        </div>
        
        <div class="govuk-form-group {% if errors.emailAddress %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="emailAddress">
            Email Address *
          </label>
          {% if errors.emailAddress %}
            <p id="emailAddress-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ errors.emailAddress }}
            </p>
          {% endif %}
          <input class="govuk-input {% if errors.emailAddress %}govuk-input--error{% endif %}" id="emailAddress" name="emailAddress" type="email" value="{{ formData.emailAddress if formData else '' }}" aria-describedby="{% if errors.emailAddress %}emailAddress-error{% endif %}">
        </div>
        
        <div class="govuk-form-group {% if errors.submissionSource %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="submissionSource">
            Submission Source *
          </label>
          {% if errors.submissionSource %}
            <p id="submissionSource-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ errors.submissionSource }}
            </p>
          {% endif %}
          <select class="govuk-select {% if errors.submissionSource %}govuk-select--error{% endif %}" id="submissionSource" name="submissionSource" aria-describedby="{% if errors.submissionSource %}submissionSource-error{% endif %}">
            <option value="">Please select</option>
            {% for source in submissionSources %}
              <option value="{{ source }}" {% if formData and formData.submissionSource === source %}selected{% endif %}>
                {{ source }}
              </option>
            {% endfor %}
          </select>
        </div>
        
        <div class="govuk-form-group {% if errors.organisation %}govuk-form-group--error{% endif %}" id="organisationGroup">
          <label class="govuk-label" for="organisation">
            Organisation
            {% if formData and formData.submissionSource === 'Other' %} *{% endif %}
          </label>
          <div class="govuk-hint">
            Required if 'Other' is selected as submission source
          </div>
          {% if errors.organisation %}
            <p id="organisation-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ errors.organisation }}
            </p>
          {% endif %}
          <input class="govuk-input {% if errors.organisation %}govuk-input--error{% endif %}" id="organisation" name="organisation" type="text" value="{{ formData.organisation if formData else '' }}" aria-describedby="{% if errors.organisation %}organisation-error{% endif %}">
        </div>
        
        <div class="govuk-form-group {% if errors.briefDescription %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="briefDescription">
            Brief Description *
          </label>
          <div class="govuk-hint">
            A short description of the requested change
          </div>
          {% if errors.briefDescription %}
            <p id="briefDescription-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ errors.briefDescription }}
            </p>
          {% endif %}
          <textarea class="govuk-textarea {% if errors.briefDescription %}govuk-textarea--error{% endif %}" id="briefDescription" name="briefDescription" rows="3" aria-describedby="{% if errors.briefDescription %}briefDescription-error{% endif %}">{{ formData.briefDescription if formData else '' }}</textarea>
        </div>
        
        <div class="govuk-form-group {% if errors.justification %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="justification">
            Justification *
          </label>
          <div class="govuk-hint">
            Explain why this change is needed and what benefits it will bring
          </div>
          {% if errors.justification %}
            <p id="justification-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ errors.justification }}
            </p>
          {% endif %}
          <textarea class="govuk-textarea {% if errors.justification %}govuk-textarea--error{% endif %}" id="justification" name="justification" rows="5" aria-describedby="{% if errors.justification %}justification-error{% endif %}">{{ formData.justification if formData else '' }}</textarea>
        </div>
        
        <div class="govuk-form-group {% if errors.urgencyLevel %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" aria-describedby="{% if errors.urgencyLevel %}urgencyLevel-error{% endif %}">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Urgency Level *
            </legend>
            {% if errors.urgencyLevel %}
              <p id="urgencyLevel-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> {{ errors.urgencyLevel }}
              </p>
            {% endif %}
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              {% for level in urgencyLevels %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="urgencyLevel-{{ level.value }}" name="urgencyLevel" type="radio" value="{{ level.value }}" 
                    {% if formData and formData.urgencyLevel === level.value %}checked{% endif %}
                    {% if level.name === 'Other' %}data-aria-controls="conditional-other-urgency"{% endif %}>
                  <label class="govuk-label govuk-radios__label" for="urgencyLevel-{{ level.value }}">
                    <strong class="govuk-tag govuk-tag--{{ level.color }}">{{ level.name }}</strong>
                    <span class="govuk-hint govuk-!-margin-top-1">{{ level.description }}</span>
                  </label>
                </div>

                {% if level.name === 'Other' %}
                <div class="govuk-radios__conditional {% if formData and formData.urgencyLevel === 'Other' %}{% else %}govuk-radios__conditional--hidden{% endif %}" id="conditional-other-urgency">
                  <div class="govuk-form-group {% if errors.otherUrgencyDescription %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="otherUrgencyDescription">
                      Please specify
                    </label>
                    {% if errors.otherUrgencyDescription %}
                      <p id="otherUrgencyDescription-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{ errors.otherUrgencyDescription }}
                      </p>
                    {% endif %}
                    <input class="govuk-input govuk-!-width-two-thirds {% if errors.otherUrgencyDescription %}govuk-input--error{% endif %}" 
                           id="otherUrgencyDescription" 
                           name="otherUrgencyDescription" 
                           type="text" 
                           value="{{ formData.otherUrgencyDescription if formData else '' }}"
                           aria-describedby="{% if errors.otherUrgencyDescription %}otherUrgencyDescription-error{% endif %}">
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>
          </fieldset>
        </div>
        
        <div class="govuk-form-group {% if errors.impactAreas %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" aria-describedby="{% if errors.impactAreas %}impactAreas-error{% endif %}">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Impacted Areas *
            </legend>
            <div class="govuk-hint">
              Select all areas that will be impacted by this change
            </div>
            {% if errors.impactAreas %}
              <p id="impactAreas-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> {{ errors.impactAreas }}
              </p>
            {% endif %}
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <!-- Debug info for impactAreas (hidden in production) -->
              {% if formData and formData.impactAreas %}
              <div class="govuk-hint" style="display: none;">
                Impact Areas Data: {{ formData.impactAreas | dump }}
              </div>
              {% endif %}
              
              {% for area in impactAreas %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" 
                         id="impactAreas-{{ area.id }}" 
                         name="impactAreas" 
                         type="checkbox" 
                         value="{{ area.id }}" 
                         {% if formData and formData.impactAreas %}
                           {% if formData.impactAreas == area.id %}
                             checked
                           {% elif formData.impactAreas[0] == area.id %}
                             checked
                           {% elif formData.impactAreas.includes(area.id) %}
                             checked
                           {% elif (formData.impactAreas | string).indexOf(area.id) > -1 %}
                             checked
                           {% endif %}
                         {% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="impactAreas-{{ area.id }}">
                    {{ area.name }}
                  </label>
                  {% if area.description %}
                    <div class="govuk-hint govuk-checkboxes__hint">
                      {{ area.description }}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </fieldset>
        </div>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="affectedReferenceDataArea">
            Affected Reference Data Area
          </label>
          <div class="govuk-hint">
            If this change affects reference data, specify which area
          </div>
          <input class="govuk-input" id="affectedReferenceDataArea" name="affectedReferenceDataArea" type="text" value="{{ formData.affectedReferenceDataArea if formData else '' }}">
        </div>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="technicalDependencies">
            Technical Dependencies
          </label>
          <div class="govuk-hint">
            List any technical dependencies or system requirements
          </div>
          <textarea class="govuk-textarea" id="technicalDependencies" name="technicalDependencies" rows="3">{{ formData.technicalDependencies if formData else '' }}</textarea>
        </div>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="relatedDocuments">
            Related Documents
          </label>
          <div class="govuk-hint">
            URLs or references to related documentation
          </div>
          <textarea class="govuk-textarea" id="relatedDocuments" name="relatedDocuments" rows="2">{{ formData.relatedDocuments if formData else '' }}</textarea>
        </div>
        
        <div class="govuk-form-group {% if errors.attachments %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" aria-describedby="{% if errors.attachments %}attachments-error{% endif %}">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Will you be providing attachments? *
            </legend>
            {% if errors.attachments %}
              <p id="attachments-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> {{ errors.attachments }}
              </p>
            {% endif %}
            <!-- Debug info for attachments (hidden in production) -->
            {% if formData and formData.attachments %}
            <div class="govuk-hint" style="display: none;">
              Attachments Data: {{ formData.attachments | dump }}
            </div>
            {% endif %}
            
            <div class="govuk-radios">
              {% for option in attachmentsOptions %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" 
                         id="attachments-{{ option }}" 
                         name="attachments" 
                         type="radio" 
                         value="{{ option }}" 
                         {% if formData and formData.attachments %}
                           {% if formData.attachments == option %}
                             checked
                           {% endif %}
                         {% endif %}>
                  <label class="govuk-label govuk-radios__label" for="attachments-{{ option }}">
                    {{ option }}
                  </label>
                </div>
              {% endfor %}
            </div>
          </fieldset>
        </div>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="additionalNotes">
            Additional Notes
          </label>
          <div class="govuk-hint">
            Any other information that may be relevant
          </div>
          <textarea class="govuk-textarea" id="additionalNotes" name="additionalNotes" rows="3">{{ formData.additionalNotes if formData else '' }}</textarea>
        </div>
        
        <div class="govuk-form-group {% if errors.declaration %}govuk-form-group--error{% endif %}">
          {% if errors.declaration %}
            <p id="declaration-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ errors.declaration }}
            </p>
          {% endif %}
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="declaration" name="declaration" type="checkbox" value="true" {% if formData and formData.declaration %}checked{% endif %} aria-describedby="{% if errors.declaration %}declaration-error{% endif %}">
              <label class="govuk-label govuk-checkboxes__label" for="declaration">
                I confirm that the information provided is accurate and complete *
              </label>
            </div>
          </div>
        </div>
        
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Submit
        </button>
      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script>
  // Show/hide organisation field based on submission source
  document.addEventListener('DOMContentLoaded', function() {
    const submissionSourceSelect = document.getElementById('submissionSource');
    const organisationGroup = document.getElementById('organisationGroup');
    
    function updateOrganisationVisibility() {
      if (submissionSourceSelect.value === 'Other') {
        organisationGroup.style.display = 'block';
      } else {
        organisationGroup.style.display = 'none';
      }
    }
    
    // Initial state
    updateOrganisationVisibility();
    
    // Update on change
    submissionSourceSelect.addEventListener('change', updateOrganisationVisibility);
  });
</script>
{% endblock %}
