{% extends "../layout.njk" %}

{% block pageTitle %}
  {{ title }} - RRDM
{% endblock %}

{% block breadcrumbs %}
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/bcr/dashboard">BCR Dashboard</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/bcr-submission">BCR Submissions</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    Review Submission
  </li>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Review BCR Submission: {{ submission.submissionCode }}</h1>
      
      {% if submission.reviewedAt %}
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
          <h1 class="govuk-panel__title">
            Submission Reviewed
          </h1>
          <div class="govuk-panel__body">
            Status: 
            {% if submission.status === 'Approved' %}
              <strong class="govuk-tag govuk-tag--green">Approved</strong>
            {% elif submission.status === 'Rejected' %}
              <strong class="govuk-tag govuk-tag--red">Rejected</strong>
            {% elif submission.status === 'More Info Required' %}
              <strong class="govuk-tag govuk-tag--blue">More Info Required</strong>
            {% elif submission.status === 'Closed' %}
              <strong class="govuk-tag govuk-tag--grey">Closed</strong>
            {% elif submission.status === 'Paused' %}
              <strong class="govuk-tag govuk-tag--yellow">Paused</strong>
            {% endif %}
          </div>
        </div>
      {% endif %}

      <h2 class="govuk-heading-l">Submission Information</h2>

      <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-m">Basic Information</h3>
          <div class="govuk-inset-text">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <h4 class="govuk-heading-s">Submission Code</h4>
                <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                  {{ submission.submissionCode }}
                </div>
              </div>
              <div class="govuk-grid-column-one-half">
                <h4 class="govuk-heading-s">Submission Date</h4>
                <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                  {{ submission.createdAt | date }}
                </div>
              </div>
            </div>
            {% if submission.reviewedAt %}
            <div class="govuk-grid-row govuk-!-margin-top-3">
              <div class="govuk-grid-column-full">
                <h4 class="govuk-heading-s">Reviewed Date</h4>
                <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                  {{ submission.reviewedAt | date }}
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-m">Submitter Information</h3>
          <div class="govuk-inset-text">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <h4 class="govuk-heading-s">Submitted By</h4>
                <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                  {{ submission.fullName }}
                </div>
              </div>
              <div class="govuk-grid-column-one-half">
                <h4 class="govuk-heading-s">Email Address</h4>
                <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                  {{ submission.emailAddress }}
                </div>
              </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-3">
              <div class="govuk-grid-column-one-half">
                <h4 class="govuk-heading-s">Submission Source</h4>
                <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                  {{ submission.submissionSource }}
                </div>
              </div>
              {% if submission.organisation %}
              <div class="govuk-grid-column-one-half">
                <h4 class="govuk-heading-s">Organisation</h4>
                <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                  {{ submission.organisation }}
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-m">Request Details</h3>
          <div class="govuk-inset-text">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <h4 class="govuk-heading-s">Brief Description</h4>
                <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                  {{ submission.briefDescription }}
                </div>
              </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-3">
              <div class="govuk-grid-column-full">
                <h4 class="govuk-heading-s">Justification</h4>
                <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                  {{ submission.justification }}
                </div>
              </div>
            </div>
            <div class="govuk-grid-row govuk-!-margin-top-3">
              <div class="govuk-grid-column-one-half">
                <h4 class="govuk-heading-s">Urgency Level</h4>
                <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                  {% if submission.urgencyLevel === 'High' %}
                    <strong class="govuk-tag govuk-tag--orange">{{ submission.urgencyLevel }}</strong>
                  {% elif submission.urgencyLevel === 'Medium' %}
                    <strong class="govuk-tag govuk-tag--yellow">{{ submission.urgencyLevel }}</strong>
                  {% elif submission.urgencyLevel === 'Critical' %}
                    <strong class="govuk-tag govuk-tag--red">{{ submission.urgencyLevel }}</strong>
                  {% else %}
                    <strong class="govuk-tag govuk-tag--blue">{{ submission.urgencyLevel }}</strong>
                  {% endif %}
                </div>
              </div>
              <div class="govuk-grid-column-one-half">
                <h4 class="govuk-heading-s">Impact Areas</h4>
                <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                  {% if submission.impactedAreaNames and submission.impactedAreaNames.length > 0 %}
                    {% for area in submission.impactedAreaNames %}
                      {% set tagColor = "blue" %}
                      {% if area === "Funding" %}
                        {% set tagColor = "green" %}
                      {% elif area === "Policy" %}
                        {% set tagColor = "purple" %}
                      {% elif area === "Processes" %}
                        {% set tagColor = "turquoise" %}
                      {% elif area === "Systems" %}
                        {% set tagColor = "orange" %}
                      {% elif area === "Reporting" %}
                        {% set tagColor = "yellow" %}
                      {% elif area === "Users" %}
                        {% set tagColor = "pink" %}
                      {% elif area === "Training" %}
                        {% set tagColor = "light-blue" %}
                      {% endif %}
                      <span class="govuk-tag govuk-tag--{{ tagColor }} govuk-!-margin-right-1 govuk-!-margin-bottom-1">{{ area }}</span>
                    {% endfor %}
                  {% else %}
                    None specified
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="govuk-grid-row govuk-!-margin-bottom-6">
        <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-m">Technical Information</h3>
          <div class="govuk-inset-text">
            {% if submission.affectedReferenceDataArea %}
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <h4 class="govuk-heading-s">Affected Reference Data Area</h4>
                <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                  {{ submission.affectedReferenceDataArea }}
                </div>
              </div>
            </div>
            {% endif %}
            {% if submission.technicalDependencies %}
            <div class="govuk-grid-row govuk-!-margin-top-3">
              <div class="govuk-grid-column-full">
                <h4 class="govuk-heading-s">Technical Dependencies</h4>
                <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                  {{ submission.technicalDependencies }}
                </div>
              </div>
            </div>
            {% endif %}
            {% if submission.relatedDocuments %}
            <div class="govuk-grid-row govuk-!-margin-top-3">
              <div class="govuk-grid-column-full">
                <h4 class="govuk-heading-s">Related Documents</h4>
                <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                  {{ submission.relatedDocuments }}
                </div>
              </div>
            </div>
            {% endif %}
            <div class="govuk-grid-row govuk-!-margin-top-3">
              <div class="govuk-grid-column-full">
                <h4 class="govuk-heading-s">Attachments</h4>
                <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-padding-top-2 govuk-!-padding-bottom-2">
                  {{ submission.attachments }}
                </div>
              </div>
            </div>
            {% if submission.displayNotes or submission.detailedDescription %}
            <div class="govuk-grid-row govuk-!-margin-top-3">
              <div class="govuk-grid-column-full">
                <h4 class="govuk-heading-s">Additional Notes</h4>
                <div class="govuk-inset-text govuk-!-margin-top-0">
                  {% if submission.displayNotes %}
                    <p class="govuk-body">{{ submission.displayNotes }}</p>
                  {% endif %}
                  {% if submission.detailedDescription %}
                    <div class="govuk-!-margin-top-2">
                      {{ submission.detailedDescription | nl2br | safe }}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>

      {% if not submission.deletedAt and not submission.reviewedAt and not submission.bcrId %}
        <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m">Review Decision</h2>
          <div class="govuk-inset-text">
            <form action="/bcr/submissions/{{ submission._id }}/review" method="post" novalidate>
              <input type="hidden" name="_csrf" value="{{ csrfToken }}">
              
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h3 class="govuk-fieldset__heading">
                      Submission Review Decision
                    </h3>
                  </legend>
                  <div class="govuk-radios" data-module="govuk-radios">
                    {% for option in statusOptions %}
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="status-{{ option.value | lower }}" name="status" type="radio" value="{{ option.value }}" required>
                        <label class="govuk-label govuk-radios__label" for="status-{{ option.value | lower }}">
                          <strong class="govuk-tag govuk-tag--{{ option.color }}">{{ option.text }}</strong>
                        </label>
                      </div>
                    {% endfor %}
                  </div>
                </fieldset>
              </div>
              
              <div class="govuk-form-group">
                <label class="govuk-label" for="review-comments">
                  <strong>Decision Notes</strong>
                </label>
                <div id="review-comments-hint" class="govuk-hint">
                  Add any notes about your review decision
                </div>
                <textarea class="govuk-textarea" id="review-comments" name="comments" rows="5" aria-describedby="review-comments-hint"></textarea>
              </div>
              
              <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                  Submit Review
                </button>
                <a href="/bcr-submission" class="govuk-link">Cancel</a>
              </div>
            </form>
          </div>
        </div>
      {% endif %}
      
      <div class="govuk-button-group govuk-!-margin-top-6">
        {% if submission.bcrId %}
          <a href="/bcr/{{ submission.bcrId }}" class="govuk-button" data-module="govuk-button">
            View BCR
          </a>
        {% endif %}
        {% if submission.reviewedAt %}
          <a href="/bcr-submission/{{ submission.id }}/reviews" class="govuk-button govuk-button--secondary">
            View Review History
          </a>
        {% endif %}
        <a href="/bcr-submission" class="govuk-button govuk-button--secondary">
          Return to Submissions List
        </a>
      </div>
      
      {# Since we can't check for rejected status directly (no status field), we're temporarily disabling this section #}
      {% if false %}
        <form action="/bcr-submission/{{ submission.id }}/reinstate" method="post">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          <button type="submit" class="govuk-button govuk-button--secondary">
            Reinstate Submission
          </button>
        </form>
      {% endif %}
        </div>
      </div>
      
      {% if editHistory and editHistory.length > 0 %}
      <div class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">
        <h2 class="govuk-heading-m">Edit History</h2>
        <div class="govuk-inset-text">
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Previous edits to this submission</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <th scope="col" class="govuk-table__header">Editor</th>
                <th scope="col" class="govuk-table__header">Changes</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for edit in editHistory %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">{{ edit.formattedDate }}</td>
                  <td class="govuk-table__cell">{{ edit.editor }}</td>
                  <td class="govuk-table__cell">
                    {% if edit.changes and edit.changes.length > 0 %}
                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            {{ edit.changes.length }} field{% if edit.changes.length != 1 %}s{% endif %} changed
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          <ul class="govuk-list govuk-list--bullet">
                            {% for change in edit.changes %}
                              <li>{{ change.field }}: <span class="govuk-!-font-weight-bold">{{ change.from }}</span> → <span class="govuk-!-font-weight-bold">{{ change.to }}</span></li>
                            {% endfor %}
                          </ul>
                        </div>
                      </details>
                    {% else %}
                      No changes recorded
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
      
      {% if approvalHistory and approvalHistory.length > 0 %}
      <div class="govuk-!-margin-bottom-6 govuk-!-margin-top-6">
        <h2 class="govuk-heading-m">Approval History</h2>
        <div class="govuk-inset-text">
          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Approval and rejection history</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <th scope="col" class="govuk-table__header">Action</th>
                <th scope="col" class="govuk-table__header">User</th>
                <th scope="col" class="govuk-table__header">Details</th>
                <th scope="col" class="govuk-table__header">Phase</th>
                <th scope="col" class="govuk-table__header">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for entry in approvalHistory %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">{{ entry.formattedDate }}</td>
                  <td class="govuk-table__cell">
                    {% if entry.action === 'Approved' %}
                      <strong class="govuk-tag govuk-tag--green">{{ entry.action }}</strong>
                    {% elif entry.action === 'Rejected' %}
                      <strong class="govuk-tag govuk-tag--red">{{ entry.action }}</strong>
                    {% else %}
                      <strong class="govuk-tag">{{ entry.action }}</strong>
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell">{{ entry.user }}</td>
                  <td class="govuk-table__cell">{{ entry.details }}</td>
                  <td class="govuk-table__cell">
                    {% if entry.phase %}
                      <strong class="govuk-tag govuk-tag--blue">{{ entry.phase }}</strong>
                    {% else %}
                      -
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell">
                    {% if entry.status %}
                      {% if entry.action === 'Approved' %}
                        <strong class="govuk-tag govuk-tag--light-blue">{{ entry.status }}</strong>
                      {% elif entry.action === 'Rejected' %}
                        <strong class="govuk-tag govuk-tag--orange">{{ entry.status }}</strong>
                      {% else %}
                        <strong class="govuk-tag">{{ entry.status }}</strong>
                      {% endif %}
                    {% else %}
                      -
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
