{% extends "layouts/base.njk" %}

{% block pageTitle %}
  Bad request
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Bad request</h1>
  <p class="govuk-body">The request could not be understood or was missing required parameters.</p>
  <a href="/" class="govuk-button govuk-button--secondary">Return to Home</a>
{% endblock %}