{% extends "layouts/base.njk" %}

{% block pageTitle %}
  Access denied
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Access denied</h1>
  <p class="govuk-body">You do not have permission to view this page.</p>
  <a href="/" class="govuk-button govuk-button--secondary">Return to Home</a>
{% endblock %}