{% extends "layouts/base.njk" %}

{% block content %}
<h1 class="govuk-heading-xl">{{ item.name }} Values</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Item Status</dt>
        <dd class="govuk-summary-list__value">{{ item.status }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Change Type</dt>
        <dd class="govuk-summary-list__value">{{ item.changeType }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Last Updated</dt>
        <dd class="govuk-summary-list__value">{{ item.lastUpdated | date }}</dd>
      </div>
    </dl>
  </div>
</div>

<table class="govuk-table data-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Values</caption>
  <thead class="govuk-table__head data-table__header">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Hesa Code</th>
      <th class="govuk-table__header">Value Name</th>
      <th class="govuk-table__header">Description</th>
      <th class="govuk-table__header">Academic Year</th>
      <th class="govuk-table__header">Status</th>
      <th class="govuk-table__header">Change Type</th>
      <th class="govuk-table__header">Change Summary</th>
      <th class="govuk-table__header">Actions</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for value in values %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ value.id }}</td>
      <td class="govuk-table__cell">{{ value.name }}</td>
      <td class="govuk-table__cell">{{ value.description }}</td>
      <td class="govuk-table__cell">{{ item.academicYear }}</td>
      <td class="govuk-table__cell">
        {% if value.status === 'active' %}
          <strong class="govuk-tag govuk-tag--green">Active</strong>
        {% elif value.status === 'inactive' %}
          <strong class="govuk-tag govuk-tag--red">Inactive</strong>
        {% else %}
          <strong class="govuk-tag govuk-tag--grey">{{ value.status | title }}</strong>
        {% endif %}
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--purple">{{ value.changeType | title }}</strong>
      </td>
      <td class="govuk-table__cell">{{ value.changeSummary }}</td>
      <td class="govuk-table__cell data-table__cell--actions">{{ value.actions | safe }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="button-group">
  <a href="/items" class="govuk-button">Back to Items List</a>
  <a href="/items/{{ item.id }}/history" class="govuk-button govuk-button--secondary">View Item History</a>
</div>
{% endblock %}
