/* Standard GOV.UK Design System tag colors */

/* Default tag (blue) */
.govuk-tag {
  color: #144e81;
  background: #d2e2f1;
}

/* Grey tag */
.govuk-tag--grey {
  color: #383f43;
  background: #eeefef;
}

/* Green tag */
.govuk-tag--green {
  color: #005a30;
  background: #cce2d8;
}

/* Turquoise tag */
.govuk-tag--turquoise {
  color: #10403c;
  background: #bfe3e0;
}

/* Blue tag */
.govuk-tag--blue {
  color: #144e81;
  background: #d2e2f1;
}

/* Light blue tag */
.govuk-tag--light-blue {
  color: #144e81;
  background: #f2f6fb;
}

/* Purple tag */
.govuk-tag--purple {
  color: #4c2c92;
  background: #e9d4f6;
}

/* Pink tag */
.govuk-tag--pink {
  color: #80224d;
  background: #f7d7e6;
}

/* Red tag */
.govuk-tag--red {
  color: #942514;
  background: #f6d7d2;
}

/* Orange tag */
.govuk-tag--orange {
  color: #6e3619;
  background: #fcd6c3;
}

/* Yellow tag */
.govuk-tag--yellow {
  color: #594d00;
  background: #fff7b3;
}
