{% extends "layouts/base-with-nav.njk" %}

{% block title %}Create User | Register Team Internal Services{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Create New User</h1>

      {% if errors and errors.length > 0 %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              {% for error in errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      <form action="/access/create" method="post" novalidate>
        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email address <span class="govuk-required">*</span>
          </label>
          <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" autocomplete="email" required>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="name">
            Full name
          </label>
          <span id="name-hint" class="govuk-hint">
            Optional - if not provided, will use the part of the email before @
          </span>
          <input class="govuk-input" id="name" name="name" type="text" aria-describedby="name-hint">
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">
              User role <span class="govuk-required">*</span>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="role-business" name="role" type="radio" value="business" checked>
                <label class="govuk-label govuk-radios__label" for="role-business">
                  Business User
                </label>
                <div id="role-business-hint" class="govuk-hint govuk-radios__hint">
                  Can access all features except user management
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="role-admin" name="role" type="radio" value="admin">
                <label class="govuk-label govuk-radios__label" for="role-admin">
                  Administrator
                </label>
                <div id="role-admin-hint" class="govuk-hint govuk-radios__hint">
                  Full access to all features including user management
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="password">
            Password <span class="govuk-required">*</span>
          </label>
          <span id="password-hint" class="govuk-hint">
            Must be at least 6 characters
          </span>
          <input class="govuk-input" id="password" name="password" type="password" aria-describedby="password-hint" required>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="confirmPassword">
            Confirm password <span class="govuk-required">*</span>
          </label>
          <input class="govuk-input" id="confirmPassword" name="confirmPassword" type="password" required>
        </div>

        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Create user
          </button>
          <a href="/access/manage" class="govuk-button govuk-button--secondary">
            Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
