{% extends "layouts/base-with-nav.njk" %}

{% block title %}Reset Workflow Confirmation - BCR {{ submission.id }} | Register Team Internal Services{% endblock %}

{% block navigation %}
  {% include "partials/bcr-navigation.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-breadcrumbs">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/bcr/submissions">BCR Submissions</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/bcr/submissions/{{ submission.id }}">BCR {{ submission.id }}</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          Reset Confirmation
        </li>
      </ol>
    </div>

    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <h1 class="govuk-panel__title">Workflow reset successful</h1>
          </div>

          <h2 class="govuk-heading-m">What happened</h2>
          <p class="govuk-body">The workflow for BCR {{ submission.id }} has been reset to "Submission Received" status.</p>
          <p class="govuk-body">Current status: <strong class="govuk-tag govuk-tag--purple">{{ submission.status }}</strong></p>
          <p class="govuk-body">Current phase: <strong>{{ submission.currentPhase }}</strong></p>
          
          <div class="govuk-inset-text">
            <h3 class="govuk-heading-s">Reset details</h3>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">BCR ID</dt>
                <dd class="govuk-summary-list__value">{{ submission.id }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Title</dt>
                <dd class="govuk-summary-list__value">{{ submission.title }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">New Status</dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--purple">Submission Received</strong>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Reset by</dt>
                <dd class="govuk-summary-list__value">{{ user }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Reset reason</dt>
                <dd class="govuk-summary-list__value">{{ comment }}</dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Reset date</dt>
                <dd class="govuk-summary-list__value">{{ resetDate | date }}</dd>
              </div>
            </dl>
          </div>

          <h2 class="govuk-heading-m">What happens next</h2>
          <p class="govuk-body">The BCR workflow has been reset to the beginning. All subsequent phases have been marked as incomplete and will need to be processed again.</p>
          
          <p class="govuk-body">
            <a href="/bcr/submissions/{{ submission.id }}" class="govuk-button">Return to BCR</a>
            <a href="/bcr/submissions" class="govuk-button govuk-button--secondary">View all BCRs</a>
          </p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
