{% extends "layouts/base-with-nav.njk" %}

{% block pageTitle %}
  New BCR Submission - RRDM
{% endblock %}

{% block navigation %}
  {% include "partials/bcr-navigation.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">New BCR Submission</h1>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <!-- Form introduction -->
          <div class="govuk-form-group">
            <p class="govuk-body">Use this form to submit a new Business Change Request (BCR). Fields marked with <span class="govuk-required">*</span> are required.</p>
          </div>
          
          {% if errors %}
          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {% for field, message in errors %}
                <li><a href="#{{ field }}">{{ message }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}
          
          <form action="/bcr/bcr-submission" method="post" class="govuk-!-margin-bottom-9">
            
            <!-- Section 1: Submitter Information -->
            <div class="govuk-form-group govuk-!-margin-bottom-9 govuk-!-padding-bottom-6 govuk-!-border-bottom-width-1">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">Submitter Information</h2>
                </legend>
                <div class="govuk-inset-text govuk-!-margin-bottom-6">
                  <p class="govuk-body govuk-!-margin-bottom-0">Please provide your contact details so we can follow up on your request.</p>
                </div>
                
                <div class="govuk-form-group">
                  <label class="govuk-label" for="fullName">
                    Full Name <span class="govuk-required">*</span>
                  </label>
                  <input class="govuk-input" id="fullName" name="fullName" type="text" required>
                </div>
                
                <div class="govuk-form-group">
                  <label class="govuk-label" for="emailAddress">
                    Email Address <span class="govuk-required">*</span>
                  </label>
                  <input class="govuk-input" id="emailAddress" name="emailAddress" type="email" required>
                </div>
                
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                      Are you a civil servant, contractor or consultant within the DfE? <span class="govuk-required">*</span>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="submissionSource-internal" name="submissionSource" type="radio" value="Internal DfE" required>
                        <label class="govuk-label govuk-radios__label" for="submissionSource-internal">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="submissionSource-provider" name="submissionSource" type="radio" value="Provider">
                        <label class="govuk-label govuk-radios__label" for="submissionSource-provider">
                          No
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="submissionSource-other" name="submissionSource" type="radio" value="External" data-aria-controls="conditional-other-org">
                        <label class="govuk-label govuk-radios__label" for="submissionSource-other">
                          Other
                        </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other-org">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="organisation">
                            Organisation
                          </label>
                          <input class="govuk-input" id="organisation" name="organisation" type="text">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </fieldset>
            </div>
            
            <!-- Section 2: Change Request Details -->
            <div class="govuk-form-group govuk-!-margin-bottom-9 govuk-!-padding-bottom-6 govuk-!-border-bottom-width-1">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">Change Request Details</h2>
                </legend>
                <div class="govuk-inset-text govuk-!-margin-bottom-6">
                  <p class="govuk-body govuk-!-margin-bottom-0">Provide details about the change you are requesting.</p>
                </div>
                
                <div class="govuk-form-group">
                  <label class="govuk-label" for="briefDescription">
                    Brief Description <span class="govuk-required">*</span>
                  </label>
                  <span id="briefDescription-hint" class="govuk-hint">
                    Provide a brief description of the change (max 500 characters)
                  </span>
                  <textarea class="govuk-textarea govuk-js-character-count" id="briefDescription" name="briefDescription" rows="5" aria-describedby="briefDescription-hint briefDescription-count" data-module="govuk-character-count" maxlength="500" required>{{ formData.briefDescription if formData }}</textarea>
                </div>
                
                <div class="govuk-form-group">
                  <label class="govuk-label" for="justification">
                    Reason for Change / Justification <span class="govuk-required">*</span>
                  </label>
                  <textarea class="govuk-textarea" id="justification" name="justification" rows="5" required>{{ formData.justification if formData }}</textarea>
                </div>
                
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                      Urgency of Change <span class="govuk-required">*</span>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="urgencyLevel-low" name="urgencyLevel" type="radio" value="Low" required>
                        <label class="govuk-label govuk-radios__label" for="urgencyLevel-low">
                          Low
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="urgencyLevel-medium" name="urgencyLevel" type="radio" value="Medium" required>
                        <label class="govuk-label govuk-radios__label" for="urgencyLevel-medium">
                          Medium
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="urgencyLevel-high" name="urgencyLevel" type="radio" value="High" required>
                        <label class="govuk-label govuk-radios__label" for="urgencyLevel-high">
                          High
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="urgencyLevel-critical" name="urgencyLevel" type="radio" value="Critical" required>
                        <label class="govuk-label govuk-radios__label" for="urgencyLevel-critical">
                          Critical
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="urgencyLevel-unknown" name="urgencyLevel" type="radio" value="Unknown">
                        <label class="govuk-label govuk-radios__label" for="urgencyLevel-unknown">
                          Unknown
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </fieldset>
            </div>
            
            <!-- Section 3: Impact Assessment -->
            <div class="govuk-form-group govuk-!-margin-bottom-9 govuk-!-padding-bottom-6 govuk-!-border-bottom-width-1">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">Impact Assessment</h2>
                </legend>
                <div class="govuk-inset-text govuk-!-margin-bottom-6">
                  <p class="govuk-body govuk-!-margin-bottom-0">Identify the areas that will be impacted by this change.</p>
                </div>
                
                <div class="govuk-form-group {% if errors.impactAreas %}govuk-form-group--error{% endif %}">
                  <fieldset class="govuk-fieldset" aria-describedby="impactAreas-hint">
                    <legend class="govuk-fieldset__legend">
                      Impact Areas <span class="govuk-required">*</span>
                    </legend>
                    <div id="impactAreas-hint" class="govuk-hint">
                      Select all areas that will be impacted by this change
                    </div>
                    {% if errors.impactAreas %}
                    <p id="impactAreas-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span> {{ errors.impactAreas }}
                    </p>
                    {% endif %}
                    
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      {% for area in impactAreas %}
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" 
                               id="{% if area.name == 'Reference Data' %}changeType-reference-data{% else %}impactArea-{{ area.id }}{% endif %}" 
                               name="impactAreas" 
                               type="checkbox" 
                               value="{{ area.name }}">
                        <label class="govuk-label govuk-checkboxes__label" for="{% if area.name == 'Reference Data' %}changeType-reference-data{% else %}impactArea-{{ area.id }}{% endif %}">
                          {{ area.name }}
                        </label>
                      </div>
                      {% endfor %}
                    </div>
                    
                    <!-- Conditional field for Reference Data impact -->
                    <div class="govuk-form-group" id="affectedRefDataAreaGroup" style="display: none;">
                      <label class="govuk-label" for="affectedReferenceDataArea">
                        Affected Reference Data Area
                      </label>
                      <span id="affectedReferenceDataArea-hint" class="govuk-hint">
                        Please specify which reference data area is affected
                      </span>
                      <input class="govuk-input" id="affectedReferenceDataArea" name="affectedReferenceDataArea" type="text">
                    </div>
                  </fieldset>
                </div>
              </fieldset>
            </div>
            
            <!-- Section 4: Technical Implementation -->
            <div class="govuk-form-group govuk-!-margin-bottom-9 govuk-!-padding-bottom-6 govuk-!-border-bottom-width-1">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">Technical Implementation</h2>
                </legend>
                
                <div class="govuk-form-group">
                  <label class="govuk-label" for="technicalDependencies">
                    Technical Dependencies <span class="govuk-required">*</span>
                  </label>
                  <span id="technicalDependencies-hint" class="govuk-hint">
                    List any technical systems, services, or components that will be affected by this change
                  </span>
                  <textarea class="govuk-textarea" id="technicalDependencies" name="technicalDependencies" rows="3" required>{{ formData.technicalDependencies if formData }}</textarea>
                </div>
              </fieldset>
            </div>
            
            <!-- Section 5: Additional Information -->
            <div class="govuk-form-group govuk-!-margin-bottom-9 govuk-!-padding-bottom-6 govuk-!-border-bottom-width-1">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">Additional Information</h2>
                </legend>
                
                <div class="govuk-form-group">
                  <label class="govuk-label" for="attachments">
                    Supporting Documents or Attachments <span class="govuk-required">*</span>
                  </label>
                  <span id="attachments-hint" class="govuk-hint">
                    List any attachments or supporting documents you will send separately
                  </span>
                  <textarea class="govuk-textarea" id="attachments" name="attachments" rows="3" required>{{ formData.attachments if formData }}</textarea>
                </div>
                
                <div class="govuk-form-group">
                  <label class="govuk-label" for="relatedDocuments">
                    Related Documents
                  </label>
                  <span id="relatedDocuments-hint" class="govuk-hint">
                    Reference any related documentation or links
                  </span>
                  <textarea class="govuk-textarea" id="relatedDocuments" name="relatedDocuments" rows="3">{{ formData.relatedDocuments if formData }}</textarea>
                </div>
                
                <div class="govuk-form-group">
                  <label class="govuk-label" for="additionalNotes">
                    Any other comments or notes
                  </label>
                  <textarea class="govuk-textarea" id="additionalNotes" name="additionalNotes" rows="3">{{ formData.additionalNotes if formData }}</textarea>
                </div>
              </fieldset>
            </div>
            
            <!-- Section 6: Declaration -->
            <div class="govuk-form-group govuk-!-margin-bottom-8">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">Declaration</h2>
                </legend>
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="declaration" name="declaration" type="checkbox" value="true" required>
                    <label class="govuk-label govuk-checkboxes__label" for="declaration">
                      I confirm that the information provided is accurate and complete <span class="govuk-required">*</span>
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            
            <button class="govuk-button govuk-button--large" data-module="govuk-button">Submit BCR</button>
          </form>
        </div>
        
        <div class="govuk-grid-column-one-third">
          <div class="govuk-inset-text">
            <h3 class="govuk-heading-s">Submission Guidelines</h3>
            <p class="govuk-body">
              All fields marked with <span class="govuk-required">*</span> are required.
            </p>
            <p class="govuk-body">
              Your BCR will be reviewed by the governance team and you will receive email confirmation of your submission.
            </p>
            <p class="govuk-body">
              For urgent BCRs marked as 'Critical', please also contact the governance team directly.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Get the Reference Data checkbox and the Affected Reference Data Area field
    const refDataCheckbox = document.getElementById('changeType-reference-data');
    const affectedRefDataAreaGroup = document.getElementById('affectedRefDataAreaGroup');
    
    // Function to toggle visibility of the Affected Reference Data Area field
    function toggleRefDataAreaVisibility() {
      if (refDataCheckbox && refDataCheckbox.checked) {
        affectedRefDataAreaGroup.style.display = 'block';
      } else if (affectedRefDataAreaGroup) {
        affectedRefDataAreaGroup.style.display = 'none';
      }
    }
    
    // Add event listener to the Reference Data checkbox
    if (refDataCheckbox) {
      refDataCheckbox.addEventListener('change', toggleRefDataAreaVisibility);
      
      // Initial check in case the checkbox is already checked (e.g., when returning to the form)
      toggleRefDataAreaVisibility();
    }
  });
</script>
{% endblock %}
