{% extends "../layout.njk" %}

{% block pageTitle %}
  {{ title }} - RRDM
{% endblock %}

{% block navigation %}
  {% include "partials/bcr-navigation.njk" %}
{% endblock %}

{% block breadcrumbs %}
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/bcr/dashboard">BCR Dashboard</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    New Submission
  </li>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">New BCR Submission</h1>
      
      <p class="govuk-body">Use this form to submit a new Business Change Request (BCR). All fields marked with an asterisk (*) are required.</p>
      
      <form action="/bcr-submission" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        
        <div class="govuk-form-group {% if error and not formData.fullName %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="fullName">
            Full Name *
          </label>
          {% if error and not formData.fullName %}
            <p id="fullName-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Full name is required
            </p>
          {% endif %}
          <input class="govuk-input {% if error and not formData.fullName %}govuk-input--error{% endif %}" id="fullName" name="fullName" type="text" value="{{ formData.fullName if formData else '' }}">
        </div>
        
        <div class="govuk-form-group {% if error and not formData.emailAddress %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="emailAddress">
            Email Address *
          </label>
          {% if error and not formData.emailAddress %}
            <p id="emailAddress-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Email address is required
            </p>
          {% endif %}
          <input class="govuk-input {% if error and not formData.emailAddress %}govuk-input--error{% endif %}" id="emailAddress" name="emailAddress" type="email" value="{{ formData.emailAddress if formData else '' }}">
        </div>
        
        <div class="govuk-form-group {% if error and not formData.submissionSource %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="submissionSource">
            Submission Source *
          </label>
          {% if error and not formData.submissionSource %}
            <p id="submissionSource-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Submission source is required
            </p>
          {% endif %}
          <select class="govuk-select {% if error and not formData.submissionSource %}govuk-select--error{% endif %}" id="submissionSource" name="submissionSource">
            <option value="">Please select</option>
            {% for source in submissionSources %}
              <option value="{{ source }}" {% if formData and formData.submissionSource === source %}selected{% endif %}>
                {{ source }}
              </option>
            {% endfor %}
          </select>
        </div>
        
        <div class="govuk-form-group {% if error and formData.submissionSource === 'Other' and not formData.organisation %}govuk-form-group--error{% endif %}" id="organisationGroup">
          <label class="govuk-label" for="organisation">
            Organisation
          </label>
          <div class="govuk-hint">
            Required if submission source is 'Other'
          </div>
          {% if error and formData.submissionSource === 'Other' and not formData.organisation %}
            <p id="organisation-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Organisation is required when submission source is Other
            </p>
          {% endif %}
          <input class="govuk-input {% if error and formData.submissionSource === 'Other' and not formData.organisation %}govuk-input--error{% endif %}" id="organisation" name="organisation" type="text" value="{{ formData.organisation if formData else '' }}">
        </div>
        
        <div class="govuk-form-group {% if error and not formData.briefDescription %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="briefDescription">
            Brief Description *
          </label>
          <div class="govuk-hint">
            A short title or summary of the change request (max 500 characters)
          </div>
          {% if error and not formData.briefDescription %}
            <p id="briefDescription-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Brief description is required
            </p>
          {% endif %}
          <textarea class="govuk-textarea {% if error and not formData.briefDescription %}govuk-textarea--error{% endif %}" id="briefDescription" name="briefDescription" rows="2" maxlength="500">{{ formData.briefDescription if formData else '' }}</textarea>
        </div>
        
        <div class="govuk-form-group {% if error and not formData.justification %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="justification">
            Justification *
          </label>
          <div class="govuk-hint">
            Explain why this change is needed and what benefits it will bring
          </div>
          {% if error and not formData.justification %}
            <p id="justification-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Justification is required
            </p>
          {% endif %}
          <textarea class="govuk-textarea {% if error and not formData.justification %}govuk-textarea--error{% endif %}" id="justification" name="justification" rows="5">{{ formData.justification if formData else '' }}</textarea>
        </div>
        
        <div class="govuk-form-group {% if error and not formData.urgencyLevel %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Urgency Level *
            </legend>
            {% if error and not formData.urgencyLevel %}
              <p id="urgencyLevel-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Urgency level is required
              </p>
            {% endif %}
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              {% for level in urgencyLevels %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="urgencyLevel-{{ level.value }}" name="urgencyLevel" type="radio" value="{{ level.value }}" 
                    {% if formData and formData.urgencyLevel === level.value %}checked{% endif %}
                    {% if level.name === 'Other' %}data-aria-controls="conditional-other-urgency"{% endif %}>
                  <label class="govuk-label govuk-radios__label" for="urgencyLevel-{{ level.value }}">
                    <strong class="govuk-tag govuk-tag--{{ level.color }}">{{ level.name }}</strong>
                    <span class="govuk-hint govuk-!-margin-top-1">{{ level.description }}</span>
                  </label>
                </div>

                {% if level.name === 'Other' %}
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other-urgency">
                  <div class="govuk-form-group {% if errors and errors.otherUrgencyDescription %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="otherUrgencyDescription">
                      Please specify the urgency level
                    </label>
                    {% if errors and errors.otherUrgencyDescription %}
                      <p id="otherUrgencyDescription-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> {{ errors.otherUrgencyDescription }}
                      </p>
                    {% endif %}
                    <input class="govuk-input govuk-!-width-two-thirds {% if errors and errors.otherUrgencyDescription %}govuk-input--error{% endif %}" 
                           id="otherUrgencyDescription" 
                           name="otherUrgencyDescription" 
                           type="text" 
                           value="{{ formData.otherUrgencyDescription if formData else '' }}">
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>
          </fieldset>
        </div>
        
        <div class="govuk-form-group {% if error and not formData.impactAreas %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Impacted Areas *
            </legend>
            <div class="govuk-hint">
              Select all areas that will be impacted by this change
            </div>
            {% if error and not formData.impactAreas %}
              <p id="impactAreas-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> At least one impacted area must be selected
              </p>
            {% endif %}
            <div class="govuk-checkboxes">
              {% for area in impactAreas %}
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="impactAreas-{{ area.id }}" name="impactAreas" type="checkbox" value="{{ area.id }}" {% if formData and formData.impactAreas and (formData.impactAreas === area.id or area.id in formData.impactAreas) %}checked{% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="impactAreas-{{ area.id }}">
                    {{ area.name }}
                  </label>
                  {% if area.description %}
                    <div class="govuk-hint govuk-checkboxes__hint">
                      {{ area.description }}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </fieldset>
        </div>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="affectedReferenceDataArea">
            Affected Reference Data Area
          </label>
          <div class="govuk-hint">
            If this change affects reference data, specify which area
          </div>
          <input class="govuk-input" id="affectedReferenceDataArea" name="affectedReferenceDataArea" type="text" value="{{ formData.affectedReferenceDataArea if formData else '' }}">
        </div>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="technicalDependencies">
            Technical Dependencies
          </label>
          <div class="govuk-hint">
            List any technical dependencies or system requirements
          </div>
          <textarea class="govuk-textarea" id="technicalDependencies" name="technicalDependencies" rows="3">{{ formData.technicalDependencies if formData else '' }}</textarea>
        </div>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="relatedDocuments">
            Related Documents
          </label>
          <div class="govuk-hint">
            URLs or references to related documentation
          </div>
          <textarea class="govuk-textarea" id="relatedDocuments" name="relatedDocuments" rows="2">{{ formData.relatedDocuments if formData else '' }}</textarea>
        </div>
        
        <div class="govuk-form-group {% if error and not formData.attachments %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Will you be providing attachments? *
            </legend>
            {% if error and not formData.attachments %}
              <p id="attachments-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Please indicate if you will be providing attachments
              </p>
            {% endif %}
            <div class="govuk-radios">
              {% for option in attachmentsOptions %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="attachments-{{ option }}" name="attachments" type="radio" value="{{ option }}" {% if formData and formData.attachments === option %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label" for="attachments-{{ option }}">
                    {{ option }}
                  </label>
                </div>
              {% endfor %}
            </div>
          </fieldset>
        </div>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="additionalNotes">
            Additional Notes
          </label>
          <div class="govuk-hint">
            Any other information that may be relevant
          </div>
          <textarea class="govuk-textarea" id="additionalNotes" name="additionalNotes" rows="3">{{ formData.additionalNotes if formData else '' }}</textarea>
        </div>
        
        <div class="govuk-form-group {% if error and not formData.declaration %}govuk-form-group--error{% endif %}">
          <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="declaration" name="declaration" type="checkbox" value="true" {% if formData and formData.declaration %}checked{% endif %}>
              <label class="govuk-label govuk-checkboxes__label" for="declaration">
                I confirm that the information provided is accurate and complete *
              </label>
            </div>
          </div>
          {% if error and not formData.declaration %}
            <p id="declaration-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> You must confirm that the information is accurate
            </p>
          {% endif %}
        </div>
        
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Submit
        </button>
      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script>
  // Show/hide organisation field based on submission source
  document.addEventListener('DOMContentLoaded', function() {
    const submissionSourceSelect = document.getElementById('submissionSource');
    const organisationGroup = document.getElementById('organisationGroup');
    
    function updateOrganisationVisibility() {
      if (submissionSourceSelect.value === 'Other') {
        organisationGroup.style.display = 'block';
      } else {
        organisationGroup.style.display = 'none';
      }
    }
    
    // Initial state
    updateOrganisationVisibility();
    
    // Update on change
    submissionSourceSelect.addEventListener('change', updateOrganisationVisibility);
  });
</script>
{% endblock %}
