{% extends "layouts/base-with-nav.njk" %}

{% block title %}Archive Confirmation | Register Team Internal Services{% endblock %}

{% block navigation %}
  {% include "partials/bcr-navigation.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          BCR archived successfully
        </h1>
        <div class="govuk-panel__body">
          BCR: <strong>{{ submission.id }}</strong><br>
          {{ submission.title }}
        </div>
      </div>

      <div class="govuk-!-margin-top-8">
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          The BCR has been archived and will no longer appear in the main submissions list.
        </p>
        
        <p class="govuk-body">
          You can:
        </p>
        
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/bcr/submissions" class="govuk-link">Return to the submissions list</a>
          </li>
          <li>
            <a href="/bcr" class="govuk-link">Go to BCR Management dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
