{% extends "layouts/base-with-nav.njk" %}

{% block pageTitle %}
  New BCR Submission - RRDM
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">New BCR Submission</h1>
      
      <form action="/bcr/bcr-submission" method="post" class="govuk-form">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="title">
            Title
          </label>
          <input class="govuk-input" id="title" name="title" type="text" required>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="description">
            Description
          </label>
          <textarea class="govuk-textarea" id="description" name="description" rows="5" required></textarea>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Impact Area
            </legend>
            <div class="govuk-radios">
              {% for area in impactAreas %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="impactArea-{{ area.value }}" name="impactArea" type="radio" value="{{ area.value }}" required>
                  <label class="govuk-label govuk-radios__label" for="impactArea-{{ area.value }}">
                    {{ area.name }}
                  </label>
                </div>
              {% endfor %}
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Urgency Level
            </legend>
            <div class="govuk-radios">
              {% for level in urgencyLevels %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="urgencyLevel-{{ level.value }}" name="urgencyLevel" type="radio" value="{{ level.value }}">
                  <label class="govuk-label govuk-radios__label" for="urgencyLevel-{{ level.value }}">
                    {{ level.name }}
                  </label>
                </div>
              {% endfor %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="urgencyLevel-unknown" name="urgencyLevel" type="radio" value="unknown">
                <label class="govuk-label govuk-radios__label" for="urgencyLevel-unknown">
                  Unknown
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="estimatedCost">
            Estimated Cost (optional)
          </label>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-10" id="estimatedCost" name="estimatedCost" type="number">
          </div>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="estimatedEffort">
            Estimated Effort (in days, optional)
          </label>
          <input class="govuk-input govuk-input--width-5" id="estimatedEffort" name="estimatedEffort" type="number">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="estimatedCompletion">
            Estimated Completion Date (optional)
          </label>
          <input class="govuk-input govuk-input--width-10" id="estimatedCompletion" name="estimatedCompletion" type="date">
        </div>

        <button type="submit" class="govuk-button">Submit BCR</button>
      </form>
    </div>
  </div>
{% endblock %}
