{% extends "layouts/base-with-nav.njk" %}

{% block title %}Submit New BCR | Register Team Internal Services{% endblock %}

{% block navigation %}
  {% include "partials/bcr-navigation.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Submit New BCR</h1>
      
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <!-- Form introduction -->
          <div class="govuk-form-group">
            <p class="govuk-body">Use this form to submit a new Business Change Request (BCR). Fields marked with <span class="govuk-required">*</span> are required.</p>
          </div>
          
          {% if errors and (errors | length > 0) %}
          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {% for field, error in errors %}
                <li><a href="{{ error.href }}">{{ error.text }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}
          
          <form action="/bcr/submit" method="post" class="govuk-!-margin-bottom-9">
            
            <!-- Section 1: Submitter Information -->
            <div class="govuk-form-group govuk-!-margin-bottom-9 govuk-!-padding-bottom-6 govuk-!-border-bottom-width-1">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">Submitter Information</h2>
                </legend>
                <div class="govuk-inset-text govuk-!-margin-bottom-6">
                  <p class="govuk-body govuk-!-margin-bottom-0">Please provide your contact details so we can follow up on your request.</p>
                </div>
                
                <div class="govuk-form-group">
                  <label class="govuk-label" for="submitterName">
                    Full Name <span class="govuk-required">*</span>
                  </label>
                  <input class="govuk-input" id="submitterName" name="submitterName" type="text" required>
                </div>
                
                <div class="govuk-form-group">
                  <label class="govuk-label" for="submitterEmail">
                    Email Address <span class="govuk-required">*</span>
                  </label>
                  <input class="govuk-input" id="submitterEmail" name="submitterEmail" type="email" required>
                </div>
                
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                      Are you a civil servant, contractor or consultant within the DfE? <span class="govuk-required">*</span>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="employmentType-yes" name="employmentType" type="radio" value="yes" required>
                        <label class="govuk-label govuk-radios__label" for="employmentType-yes">
                          Yes
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="employmentType-no" name="employmentType" type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for="employmentType-no">
                          No
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="employmentType-other" name="employmentType" type="radio" value="other" data-aria-controls="conditional-other-org">
                        <label class="govuk-label govuk-radios__label" for="employmentType-other">
                          Other
                        </label>
                      </div>
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other-org">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="submitterOrganisation">
                            Organisation
                          </label>
                          <input class="govuk-input" id="submitterOrganisation" name="submitterOrganisation" type="text">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </fieldset>
            </div>
            
            <!-- Section 2: Change Request Details -->
            <div class="govuk-form-group govuk-!-margin-bottom-9 govuk-!-padding-bottom-6 govuk-!-border-bottom-width-1">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">Change Request Details</h2>
                </legend>
                <div class="govuk-inset-text govuk-!-margin-bottom-6">
                  <p class="govuk-body govuk-!-margin-bottom-0">Provide details about the change you are requesting.</p>
                </div>
                
                <!-- BCR Code will be automatically generated in the format BCR-YY/YY-XXXX -->
                <div class="govuk-inset-text">
                  <p class="govuk-body-s">A unique BCR code in the format BCR-YY/YY-XXXX will be automatically generated for your submission.</p>
                </div>
                
                <div class="govuk-form-group {% if errors.description %}govuk-form-group--error{% endif %}">
                  <label class="govuk-label" for="description">
                    Brief Description <span class="govuk-required">*</span>
                  </label>
                  <span id="description-hint" class="govuk-hint">
                    Provide a brief description of the change (max 500 characters)
                  </span>
                  {% if errors.description %}
                  <p id="description-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ errors.description.text }}
                  </p>
                  {% endif %}
                  <textarea class="govuk-textarea govuk-js-character-count {% if errors.description %}govuk-textarea--error{% endif %}" id="description" name="description" rows="5" aria-describedby="description-hint description-count {% if errors.description %}description-error{% endif %}" data-module="govuk-character-count" maxlength="500">{{ formData.description if formData }}</textarea>
                </div>
                
                <div class="govuk-form-group {% if errors.justification %}govuk-form-group--error{% endif %}">
                  <label class="govuk-label" for="justification">
                    Reason for Change / Justification <span class="govuk-required">*</span>
                  </label>
                  <span id="justification-hint" class="govuk-hint">
                    Explain why this change is needed and what benefits it will bring
                  </span>
                  {% if errors.justification %}
                  <p id="justification-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ errors.justification.text }}
                  </p>
                  {% endif %}
                  <textarea class="govuk-textarea {% if errors.justification %}govuk-textarea--error{% endif %}" id="justification" name="justification" rows="5" aria-describedby="justification-hint {% if errors.justification %}justification-error{% endif %}">{{ formData.justification if formData }}</textarea>
                </div>
              </fieldset>
            </div>
            
            <!-- Section 3: Urgency of Change -->
            <div class="govuk-form-group govuk-!-margin-bottom-9 govuk-!-padding-bottom-6 govuk-!-border-bottom-width-1">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">Urgency of Change</h2>
                </legend>
                <div class="govuk-inset-text govuk-!-margin-bottom-6">
                  <p class="govuk-body govuk-!-margin-bottom-0">Indicate how urgent this change request is.</p>
                </div>
                
                <div class="govuk-form-group {% if errors.urgency %}govuk-form-group--error{% endif %}">
                  <fieldset class="govuk-fieldset" aria-describedby="{% if errors.urgency %}urgency-error{% endif %}">
                    <legend class="govuk-fieldset__legend">
                      Urgency Level <span class="govuk-required">*</span>
                    </legend>
                    {% if errors.urgency %}
                    <p id="urgency-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span> {{ errors.urgency.text }}
                    </p>
                    {% endif %}
                    <div class="govuk-radios" data-module="govuk-radios">
                      {% for level in urgencyLevels %}
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="urgency-{{ level | lower }}" name="urgency" type="radio" value="{{ level | lower }}" {% if level | lower == 'medium' %}checked{% endif %} required>
                          <label class="govuk-label govuk-radios__label" for="urgency-{{ level | lower }}">
                            {% if level | lower == 'low' %}
                              <span class="govuk-tag govuk-tag--green">{{ level }}</span>
                            {% elif level | lower == 'medium' %}
                              <span class="govuk-tag govuk-tag--yellow">{{ level }}</span>
                            {% elif level | lower == 'high' %}
                              <span class="govuk-tag govuk-tag--orange">{{ level }}</span>
                            {% elif level | lower == 'critical' %}
                              <span class="govuk-tag govuk-tag--red">{{ level }}</span>
                            {% else %}
                              <span class="govuk-tag">{{ level }}</span>
                            {% endif %}
                          </label>
                          <div class="govuk-hint govuk-radios__hint">
                            {% if level | lower == 'low' %}
                              Changes that can be implemented during normal business operations
                            {% elif level | lower == 'medium' %}
                              Changes that should be prioritized but are not time-critical
                            {% elif level | lower == 'high' %}
                              Changes that need to be implemented soon to prevent issues
                            {% elif level | lower == 'critical' %}
                              Urgent changes that must be implemented immediately to address critical issues
                            {% else %}
                              {{ level }} priority changes
                            {% endif %}
                          </div>
                        </div>
                      {% endfor %}
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="urgency-unknown" name="urgency" type="radio" value="medium">
                        <label class="govuk-label govuk-radios__label" for="urgency-unknown">
                          <span class="govuk-tag govuk-tag--grey">Unknown</span>
                        </label>
                        <div class="govuk-hint govuk-radios__hint">
                          Urgency level cannot be determined at this time (defaults to Medium)
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </fieldset>
            </div>
            
            <!-- Section 3: Impact Assessment -->
            <div class="govuk-form-group govuk-!-margin-bottom-9 govuk-!-padding-bottom-6 govuk-!-border-bottom-width-1">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">Impact Assessment</h2>
                </legend>
                <div class="govuk-inset-text govuk-!-margin-bottom-6">
                  <p class="govuk-body govuk-!-margin-bottom-0">Identify the areas that will be impacted by this change.</p>
                </div>
                
                <div class="govuk-form-group {% if errors.impactAreas %}govuk-form-group--error{% endif %}">
                  <fieldset class="govuk-fieldset" aria-describedby="impactAreas-hint {% if errors.impactAreas %}impactAreas-error{% endif %}">
                    <legend class="govuk-fieldset__legend">
                      Impact Areas <span class="govuk-required">*</span>
                    </legend>
                    <div id="impactAreas-hint" class="govuk-hint">
                      Select all areas that will be impacted by this change
                    </div>
                    {% if errors.impactAreas %}
                    <div id="impactAreas-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span> {{ errors.impactAreas.text }}
                    </div>
                    {% endif %}
                    
                    <!-- Impact Areas Checkboxes Component -->
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      {% for impactArea in impactAreas %}
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" 
                               id="impactArea-{{ impactArea.id }}" 
                               name="impactAreas" 
                               type="checkbox" 
                               value="{{ impactArea.name }}" 
                               {% if formData and formData.impactAreas and (impactArea.name in formData.impactAreas) %}checked{% endif %}>
                        <label class="govuk-label govuk-checkboxes__label" for="impactArea-{{ impactArea.id }}">
                          {{ impactArea.name }}
                        </label>
                        {% if impactArea.description %}
                        <div class="govuk-hint govuk-checkboxes__hint">
                          {{ impactArea.description }}
                        </div>
                        {% endif %}
                      </div>
                      {% endfor %}
                    </div>
                  </fieldset>
                </div>
              </fieldset>
            </div>
            
            <!-- Section 4: Technical Details -->
            <div class="govuk-form-group govuk-!-margin-bottom-9 govuk-!-padding-bottom-6 govuk-!-border-bottom-width-1">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">Technical Details</h2>
                </legend>
                <div class="govuk-inset-text govuk-!-margin-bottom-6">
                  <p class="govuk-body govuk-!-margin-bottom-0">Provide any technical information that will help us understand the impact of this change.</p>
                </div>
                
                <div class="govuk-form-group" id="affectedRefDataAreaGroup" style="display: none;">
                  <label class="govuk-label" for="affectedRefDataArea">
                    Affected Reference Data Area
                  </label>
                  <span id="affectedRefDataArea-hint" class="govuk-hint">
                    Optional - provide details if Reference Data is affected
                  </span>
                  <input class="govuk-input" id="affectedRefDataArea" name="affectedRefDataArea" type="text" aria-describedby="affectedRefDataArea-hint">
                </div>
                
                <div class="govuk-form-group">
                  <label class="govuk-label" for="technicalDependencies">
                    Technical Dependencies
                  </label>
                  <span id="technicalDependencies-hint" class="govuk-hint">
                    Optional - provide details of any technical dependencies
                  </span>
                  <textarea class="govuk-textarea" id="technicalDependencies" name="technicalDependencies" rows="3" aria-describedby="technicalDependencies-hint"></textarea>
                </div>
              </fieldset>
            </div>
            
            <!-- Section 5: Supporting Information -->
            <div class="govuk-form-group govuk-!-margin-bottom-9 govuk-!-padding-bottom-6 govuk-!-border-bottom-width-1">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">Supporting Information</h2>
                </legend>
                <div class="govuk-inset-text govuk-!-margin-bottom-6">
                  <p class="govuk-body govuk-!-margin-bottom-0">Provide any additional documentation or context that supports this change request.</p>
                </div>
                
                <div class="govuk-form-group">
                  <label class="govuk-label" for="relatedDocuments">
                    Related Documents or Evidence
                  </label>
                  <span id="relatedDocuments-hint" class="govuk-hint">
                    Enter URLs separated by commas
                  </span>
                  <textarea class="govuk-textarea" id="relatedDocuments" name="relatedDocuments" rows="2" aria-describedby="relatedDocuments-hint"></textarea>
                </div>
                
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend">
                      Attachments
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="hasAttachments-yes" name="hasAttachments" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="hasAttachments-yes">
                          Yes, I will email attachments separately
                        </label>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="hasAttachments-no" name="hasAttachments" type="radio" value="no" checked>
                        <label class="govuk-label govuk-radios__label" for="hasAttachments-no">
                          No
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                
                <div class="govuk-form-group">
                  <label class="govuk-label" for="additionalComments">
                    Any other comments or notes
                  </label>
                  <textarea class="govuk-textarea" id="additionalComments" name="additionalComments" rows="3"></textarea>
                </div>
              </fieldset>
            </div>
            
            <!-- Section 6: Declaration -->
            <div class="govuk-form-group {% if errors.declaration %}govuk-form-group--error{% endif %} govuk-!-margin-bottom-8">
              <fieldset class="govuk-fieldset" aria-describedby="{% if errors.declaration %}declaration-error{% endif %}">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">Declaration</h2>
                </legend>
                {% if errors.declaration %}
                <p id="declaration-error" class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> {{ errors.declaration.text }}
                </p>
                {% endif %}
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="declaration" name="declaration" type="checkbox" value="true" {% if formData and formData.declaration %}checked{% endif %}>
                    <label class="govuk-label govuk-checkboxes__label" for="declaration">
                      I confirm that the information provided is accurate and complete <span class="govuk-required">*</span>
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
            
            <button class="govuk-button govuk-button--large" data-module="govuk-button">Submit BCR</button>
          </form>
        </div>
        
        <div class="govuk-grid-column-one-third">
          <div class="govuk-inset-text">
            <h3 class="govuk-heading-s">Submission Guidelines</h3>
            <p class="govuk-body">
              All fields marked with <span class="govuk-required">*</span> are required.
            </p>
            <p class="govuk-body">
              Your BCR will be reviewed by the governance team and you will receive email confirmation of your submission.
            </p>
            <p class="govuk-body">
              For urgent BCRs marked as 'Critical', please also contact the governance team directly.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Get the Reference Data checkbox and the Affected Reference Data Area field
    const refDataCheckbox = document.getElementById('changeType-reference-data');
    const affectedRefDataAreaGroup = document.getElementById('affectedRefDataAreaGroup');
    
    // Function to toggle visibility of the Affected Reference Data Area field
    function toggleRefDataAreaVisibility() {
      if (refDataCheckbox && refDataCheckbox.checked) {
        affectedRefDataAreaGroup.style.display = 'block';
      } else if (affectedRefDataAreaGroup) {
        affectedRefDataAreaGroup.style.display = 'none';
      }
    }
    
    // Add event listener to the Reference Data checkbox
    if (refDataCheckbox) {
      refDataCheckbox.addEventListener('change', toggleRefDataAreaVisibility);
      
      // Initial check in case the checkbox is already checked (e.g., when returning to the form)
      toggleRefDataAreaVisibility();
    }
  });
</script>
{% endblock %}
