{% extends "layouts/base-with-nav.njk" %}

{% block pageTitle %}
  Update BCR {{ bcr.bcrNumber }} - RRDM
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Update BCR {{ bcr.bcrNumber }}</h1>
      
      <form action="/bcr/bcr/{{ bcr.id }}/update" method="post" class="govuk-form">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="title">
            Title
          </label>
          <input class="govuk-input" id="title" name="title" type="text" value="{{ bcr.title }}" required>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="description">
            Description
          </label>
          <textarea class="govuk-textarea" id="description" name="description" rows="5" required>{{ bcr.description }}</textarea>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Impact Area
            </legend>
            <div class="govuk-radios">
              {% for area in impactAreas %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="impactArea-{{ area.value }}" name="impactArea" type="radio" value="{{ area.value }}" {% if bcr.impactArea === area.value %}checked{% endif %} required>
                  <label class="govuk-label govuk-radios__label" for="impactArea-{{ area.value }}">
                    {{ area.name }}
                  </label>
                </div>
              {% endfor %}
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Urgency Level
            </legend>
            <div class="govuk-radios">
              {% for level in urgencyLevels %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="urgencyLevel-{{ level.value }}" name="urgencyLevel" type="radio" value="{{ level.value }}" {% if bcr.urgencyLevel === level.value %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label" for="urgencyLevel-{{ level.value }}">
                    {{ level.name }}
                  </label>
                </div>
              {% endfor %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="urgencyLevel-unknown" name="urgencyLevel" type="radio" value="unknown" {% if bcr.urgencyLevel === 'unknown' or not bcr.urgencyLevel %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="urgencyLevel-unknown">
                  Unknown
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="status">
            Status
          </label>
          <select class="govuk-select" id="status" name="status">
            {% for status in statuses %}
              <option value="{{ status.value }}" {% if bcr.status === status.value %}selected{% endif %}>{{ status.name }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="currentPhaseId">
            Current Phase
          </label>
          <select class="govuk-select" id="currentPhaseId" name="currentPhaseId">
            {% for phase in phases %}
              <option value="{{ phase.value }}" {% if bcr.currentPhaseId === phase.value %}selected{% endif %}>{{ phase.name }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="assignedTo">
            Assigned To
          </label>
          <select class="govuk-select" id="assignedTo" name="assignedTo">
            <option value="">Unassigned</option>
            {% for user in users %}
              <option value="{{ user.id }}" {% if bcr.assignedTo === user.id %}selected{% endif %}>{{ user.name }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="notes">
            Notes
          </label>
          <textarea class="govuk-textarea" id="notes" name="notes" rows="5">{{ bcr.notes }}</textarea>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="estimatedCost">
            Estimated Cost
          </label>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-10" id="estimatedCost" name="estimatedCost" type="number" value="{{ bcr.estimatedCost }}">
          </div>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="estimatedEffort">
            Estimated Effort (in days)
          </label>
          <input class="govuk-input govuk-input--width-5" id="estimatedEffort" name="estimatedEffort" type="number" value="{{ bcr.estimatedEffort }}">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="estimatedCompletion">
            Estimated Completion Date
          </label>
          <input class="govuk-input govuk-input--width-10" id="estimatedCompletion" name="estimatedCompletion" type="date" value="{{ bcr.estimatedCompletion }}">
        </div>

        <button type="submit" class="govuk-button">Update BCR</button>
        <a href="/bcr/bcr/{{ bcr.id }}" class="govuk-button govuk-button--secondary">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
