{# History panel content extracted from BCR submissions view template #}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Change History</h2>
    
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Audit log</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Action</th>
          <th scope="col" class="govuk-table__header">User</th>
          <th scope="col" class="govuk-table__header">Notes</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% if (submission.history | default([])) | length > 0 %}
          {% for item in submission.history | reverse %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ item.date | date }}</td>
              <td class="govuk-table__cell">{{ item.action }}</td>
              <td class="govuk-table__cell">{{ item.user }}</td>
              <td class="govuk-table__cell">{{ item.notes }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="4">No history records found.</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
