{% extends "layouts/base-no-header.njk" %}
{% from "modules/ref-data/release-notes/navigation-tabs/index.njk" import academicYearTabs, viewTypeTabs %}

{% block pageTitle %}
  Register Initial Teacher Trainees {% if selectedYear %}{{ selectedYear }} academic year{% endif %} reference data - {{ serviceName }}
{% endblock %}

{% block stylesheets %}
  <link href="/stylesheets/govuk-frontend.min.css" rel="stylesheet">
  <link href="/stylesheets/release-notes.css" rel="stylesheet">
  <link href="/stylesheets/ref-data-nav.css" rel="stylesheet">
{% endblock %}

{% block header %}
  {% include "partials/ref-data/header.njk" %}
{% endblock %}

{% block navigation %}
  {% include "partials/ref-data/navigation.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Register Initial Teacher Trainees {% if selectedYear %}{{ selectedYear }} academic year{% endif %} reference data</h1>
    
    {# Skip link for keyboard navigation #}
    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

    {# Include the navigation tabs components #}
    {{ academicYearTabs(academicYears, selectedYear, view) }}
    {{ viewTypeTabs(selectedYear, view) }}

    <div class="govuk-tabs__panel" id="tab-items">
      <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-6 govuk-!-padding-top-6 govuk-!-padding-left-6 govuk-!-padding-right-6" style="background-color: white;">
        <h2 class="govuk-heading-l">Reference data items for {{ selectedYear }} academic year</h2>
        
        <ul class="govuk-list govuk-list--bullet">
          {# Add new items #}
          {% if releaseNotes and releaseNotes.changes and releaseNotes.changes.new and releaseNotes.changes.new.items %}
            {% for item in releaseNotes.changes.new.items %}
              {% set itemId = item.name | lower | replace(' ', '-') %}
              {% set academicYearId = selectedYear | replace('/', '-') | lower %}
              <li>
                <a href="/ref-data/items/{{ itemId }}/values?academic-year={{ academicYearId }}" class="govuk-link">{{ item.name }}</a>
              </li>
            {% endfor %}
          {% endif %}
          
          {# Add updated items #}
          {% if releaseNotes and releaseNotes.changes and releaseNotes.changes.updated %}
            {% for item in releaseNotes.changes.updated %}
              {% set itemId = item.name | lower | replace(' ', '-') %}
              {% set academicYearId = selectedYear | replace('/', '-') | lower %}
              <li>
                <a href="/ref-data/items/{{ itemId }}/values?academic-year={{ academicYearId }}" class="govuk-link">{{ item.name }}</a>
              </li>
            {% endfor %}
          {% endif %}
          
          {# Add unchanged items #}
          {% if releaseNotes and releaseNotes.changes and releaseNotes.changes.unchanged %}
            {% for item in releaseNotes.changes.unchanged %}
              {% set itemId = item.name | lower | replace(' ', '-') %}
              {% set academicYearId = selectedYear | replace('/', '-') | lower %}
              <li>
                <a href="/ref-data/items/{{ itemId }}/values?academic-year={{ academicYearId }}" class="govuk-link">{{ item.name }}</a>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
        
        {% if (not releaseNotes or not releaseNotes.changes or 
              (not releaseNotes.changes.new or not releaseNotes.changes.new.items or releaseNotes.changes.new.items.length == 0) and 
              (not releaseNotes.changes.updated or releaseNotes.changes.updated.length == 0) and 
              (not releaseNotes.changes.unchanged or releaseNotes.changes.unchanged.length == 0)) %}
          <p class="govuk-body">No reference data items available for this academic year.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
