{% extends "../layout.njk" %}

{% block pageTitle %}
  {{ title }} - RRDM
{% endblock %}

{% block breadcrumbs %}
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/bcr/dashboard">BCR Dashboard</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/impacted-areas">Impacted Areas</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    Confirmation
  </li>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          {{ title }}
        </h1>
        <div class="govuk-panel__body">
          {{ message }}
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        {% if action === 'create' %}
          The new impacted area has been added and is now available for selection in BCR submissions.
        {% elif action === 'update' %}
          The impacted area has been updated. Any BCRs using this area will reflect the changes.
        {% elif action === 'delete' %}
          The impacted area has been permanently deleted and is no longer available for selection.
        {% else %}
          The action has been completed successfully.
        {% endif %}
      </p>

      <div class="govuk-button-group">
        <a href="/impacted-areas" class="govuk-button">Return to Impacted Areas</a>
        <a href="/bcr/dashboard" class="govuk-button govuk-button--secondary">Return to Dashboard</a>
      </div>
    </div>
  </div>
{% endblock %}
