{% extends "layouts/base-with-nav.njk" %}

{% block title %}Confirm New Impact Area | Register Team Internal Services{% endblock %}

{% block navigation %}
  {% include "partials/bcr-navigation.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Confirm new impact area</h1>

      <p class="govuk-body">Please review the details below. If everything is correct, click <strong>Create impact area</strong>. Otherwise, choose <em>Cancel</em> to go back and make changes.</p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name</dt>
          <dd class="govuk-summary-list__value">{{ formData.name }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Description</dt>
          <dd class="govuk-summary-list__value">{{ formData.description | default('') }}</dd>
        </div>
      </dl>

      <form action="/bcr/impact-areas/new" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name="name" value="{{ formData.name }}">
        <input type="hidden" name="description" value="{{ formData.description }}">
        <input type="hidden" name="confirm" value="yes">

        <button type="submit" class="govuk-button">
          Create impact area
        </button>
        <a href="/bcr/impact-areas/new" class="govuk-button govuk-button--secondary">Cancel</a>
      </form>
    </div>
  </div>
{% endblock %}
