{% extends "layouts/base.njk" %}

{% block title %}Funding Requirement Details | Register Team Internal Services{% endblock %}

{% block navigation %}
  {% include "partials/funding-navigation.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">{{ route.name }} Funding Details</h1>
    <p class="govuk-body-l">Funding requirements for {{ academicYear }}</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Training route</dt>
        <dd class="govuk-summary-list__value">{{ route.name }}</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Status</dt>
        <dd class="govuk-summary-list__value">
          {% if route.status == 'Active' %}
            <strong class="govuk-tag govuk-tag--green">{{ route.status }}</strong>
          {% elif route.status == 'Inactive' %}
            <strong class="govuk-tag govuk-tag--red">{{ route.status }}</strong>
          {% else %}
            <strong class="govuk-tag govuk-tag--grey">{{ route.status }}</strong>
          {% endif %}
        </dd>
      </div>
      {% if route.bursaryAmount %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Bursary amount</dt>
        <dd class="govuk-summary-list__value">£{{ route.bursaryAmount | toLocaleString }}</dd>
      </div>
      {% endif %}
      {% if route.scholarshipAmount %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Scholarship amount</dt>
        <dd class="govuk-summary-list__value">£{{ route.scholarshipAmount | toLocaleString }}</dd>
      </div>
      {% endif %}
      {% if route.grantAmount %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Grant amount</dt>
        <dd class="govuk-summary-list__value">£{{ route.grantAmount | toLocaleString }}</dd>
      </div>
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Last updated</dt>
        <dd class="govuk-summary-list__value">{{ lastUpdated | date }}</dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Eligible Subjects</h2>
    
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Subjects eligible for funding</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Subject</th>
          <th scope="col" class="govuk-table__header">Priority</th>
          {% if route.bursaryAmount %}
          <th scope="col" class="govuk-table__header">Bursary Eligible</th>
          {% endif %}
          {% if route.scholarshipAmount %}
          <th scope="col" class="govuk-table__header">Scholarship Eligible</th>
          {% endif %}
          {% if route.grantAmount %}
          <th scope="col" class="govuk-table__header">Grant Eligible</th>
          {% endif %}
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for subject in subjects %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ subject.name }}</td>
          <td class="govuk-table__cell">
            {% if subject.priority == 'High' %}
              <strong class="govuk-tag govuk-tag--blue">{{ subject.priority }}</strong>
            {% elif subject.priority == 'Medium' %}
              <strong class="govuk-tag govuk-tag--green">{{ subject.priority }}</strong>
            {% else %}
              <strong class="govuk-tag govuk-tag--grey">{{ subject.priority }}</strong>
            {% endif %}
          </td>
          {% if route.bursaryAmount %}
          <td class="govuk-table__cell">
            {% if subject.bursaryEligible %}
              <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
              <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
          </td>
          {% endif %}
          {% if route.scholarshipAmount %}
          <td class="govuk-table__cell">
            {% if subject.scholarshipEligible %}
              <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
              <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
          </td>
          {% endif %}
          {% if route.grantAmount %}
          <td class="govuk-table__cell">
            {% if subject.grantEligible %}
              <strong class="govuk-tag govuk-tag--green">Yes</strong>
            {% else %}
              <strong class="govuk-tag govuk-tag--red">No</strong>
            {% endif %}
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-full">
    <div class="govuk-button-group">
      <a href="/funding/requirements/{{ route.id }}/edit" class="govuk-button">Edit funding details</a>
      <a href="/funding/requirements" class="govuk-button govuk-button--secondary">Back to all requirements</a>
    </div>
  </div>
</div>
{% endblock %}
