{% extends "layouts/base-with-nav.njk" %}

{% block title %}Phase Created | BCR Phase-Status Mapping | Register Team Internal Services{% endblock %}

{% block navigation %}
  {% include "partials/bcr-navigation.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Phase created successfully
        </h1>
        <div class="govuk-panel__body">
          Phase: <strong>{{ phase.name }}</strong><br>
          ID: <strong>{{ phase.id }}</strong>
        </div>
      </div>

      <h2 class="govuk-heading-m">Phase details</h2>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phase name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ phase.name }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Phase ID
          </dt>
          <dd class="govuk-summary-list__value">
            {{ phase.id }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Display order
          </dt>
          <dd class="govuk-summary-list__value">
            {{ phase.displayOrder }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
            {{ phase.description if phase.description else 'No description provided' }}
          </dd>
        </div>
      </dl>

      {% if currentStatus or completedStatus %}
        <h2 class="govuk-heading-m">Associated statuses</h2>
        
        <dl class="govuk-summary-list">
          {% if currentStatus %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Current status
              </dt>
              <dd class="govuk-summary-list__value">
                <span class="govuk-tag govuk-tag--blue">{{ currentStatus.name }}</span>
              </dd>
            </div>
          {% endif %}
          
          {% if completedStatus %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Completed status
              </dt>
              <dd class="govuk-summary-list__value">
                <span class="govuk-tag govuk-tag--green">{{ completedStatus.name }}</span>
              </dd>
            </div>
          {% endif %}
        </dl>
      {% endif %}
      
      {% if trelloMapping %}
        <h2 class="govuk-heading-m">Trello integration</h2>
        
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Trello list
            </dt>
            <dd class="govuk-summary-list__value">
              {{ trelloMapping.name }}
            </dd>
          </div>
        </dl>
      {% endif %}

      <h2 class="govuk-heading-m">What happens next</h2>
      
      <p class="govuk-body">
        {% if currentStatus and completedStatus %}
          You have successfully created a phase with its associated statuses. You can now continue managing the workflow phases and statuses.
        {% else %}
          You can now create additional statuses associated with this phase or continue managing the workflow phases and statuses.
        {% endif %}
      </p>
      
      <div class="govuk-button-group">
        {% if not currentStatus or not completedStatus %}
          <a href="/bcr/phase-status-mapping/create-status?phaseValue={{ phase.value }}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Create Additional Status
          </a>
        {% endif %}
        <a href="/bcr/phase-status-mapping/phase/{{ phase.id }}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          View Phase Details
        </a>
        <a href="/bcr/phase-status-mapping" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Return to Phase-Status Mapping
        </a>
      </div>
    </div>
  </div>
{% endblock %}
