{% extends "layouts/base-with-nav.njk" %}

{% block title %}Phase Update Confirmation | Register Team Internal Services{% endblock %}

{% block navigation %}
  {% include "partials/bcr-navigation.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Phase update successful
        </h1>
        <div class="govuk-panel__body">
          BCR ID: <strong>{{ submission.id }}</strong>
        </div>
      </div>

      <div class="govuk-!-margin-top-8">
        <h2 class="govuk-heading-m">Phase update details</h2>
        
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Current phase
            </dt>
            <dd class="govuk-summary-list__value">
              <strong class="govuk-tag govuk-tag--yellow">Phase {{ submission.currentPhaseId }}</strong>
              <p class="govuk-body-s govuk-!-margin-bottom-0">{{ submission.currentPhase.split(' - ')[0] }}</p>
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Current status
            </dt>
            <dd class="govuk-summary-list__value">
              {% if submission.status === 'Submission Received' %}
                <strong class="govuk-tag">{{ submission.status }}</strong>
              {% elif submission.status === 'Under Review' %}
                <strong class="govuk-tag govuk-tag--blue">{{ submission.status }}</strong>
              {% elif submission.status === 'Approved' %}
                <strong class="govuk-tag govuk-tag--green">{{ submission.status }}</strong>
              {% elif submission.status === 'Implementation Scheduled' %}
                <strong class="govuk-tag govuk-tag--yellow">{{ submission.status }}</strong>
              {% elif submission.status === 'In Progress' %}
                <strong class="govuk-tag govuk-tag--light-blue">{{ submission.status }}</strong>
              {% elif submission.status === 'Implemented' %}
                <strong class="govuk-tag govuk-tag--pink">{{ submission.status }}</strong>
              {% elif submission.status === 'Go Live' %}
                <strong class="govuk-tag govuk-tag--turquoise">{{ submission.status }}</strong>
              {% elif submission.status === 'Completed' %}
                <strong class="govuk-tag govuk-tag--green">{{ submission.status }}</strong>
              {% elif submission.status === 'Rejected' %}
                <strong class="govuk-tag govuk-tag--red">{{ submission.status }}</strong>
              {% else %}
                <strong class="govuk-tag govuk-tag--grey">{{ submission.status }}</strong>
              {% endif %}
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Updated by
            </dt>
            <dd class="govuk-summary-list__value">
              {{ updatedBy }}
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Update time
            </dt>
            <dd class="govuk-summary-list__value">
              {{ updateTime | date }}
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Comment
            </dt>
            <dd class="govuk-summary-list__value">
              {{ comment }}
            </dd>
          </div>
        </dl>
      </div>

      <div class="govuk-button-group govuk-!-margin-top-6">
        <a href="/bcr/submissions/{{ submission.id }}" class="govuk-button">
          Return to BCR details
        </a>
        <a href="/bcr/submissions/{{ submission.id }}#workflow" class="govuk-button govuk-button--secondary">
          View workflow
        </a>
        <a href="/bcr/dashboard" class="govuk-link">
          Return to BCR dashboard
        </a>
      </div>
    </div>
  </div>
{% endblock %}
