{% extends "layouts/base-no-header.njk" %}

{% block stylesheets %}
  <link href="/stylesheets/govuk-frontend.min.css" rel="stylesheet">
  <link href="/stylesheets/ref-data-nav.css" rel="stylesheet">
{% endblock %}

{% block header %}
  {% include "partials/ref-data/header.njk" %}
{% endblock %}

{% block navigation %}
  {% include "partials/ref-data/navigation.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/ref-data">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/ref-data/items">Reference Data Directory</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Add Reference Data Item
      </li>
    </ol>
  </div>

  <main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Add Reference Data Item</h1>
        
        <form action="/ref-data/items/add" method="post" class="govuk-form">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h2 class="govuk-fieldset__heading">Item details</h2>
              </legend>
              
              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="item-source">
                  Item Source
                </label>
                <p class="govuk-body">Where this reference data originated from</p>
                <div id="item-source-hint" class="govuk-hint">
                  Select the source from the dropdown below
                </div>
                <select class="govuk-select" id="item-source" name="itemSource" aria-describedby="item-source-hint" required>
                  <option value="">Select source</option>
                  <option value="Data Gem">Data Gem</option>
                  <option value="Register Created">Register Created</option>
                </select>
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="item-name">
                  Item Name
                </label>
                <div id="item-name-hint" class="govuk-hint">
                  The name of the reference data item (e.g., "Ethnicity", "Region")
                </div>
                <input class="govuk-input" id="item-name" name="itemName" type="text" aria-describedby="item-name-hint" required>
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="item-description">
                  Description
                </label>
                <div id="item-description-hint" class="govuk-hint">
                  Provide a clear description of the reference data item
                </div>
                <textarea class="govuk-textarea" id="item-description" name="itemDescription" rows="3" aria-describedby="item-description-hint"></textarea>
              </div>


            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h2 class="govuk-fieldset__heading">Classification</h2>
              </legend>
              
              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="academic-year">
                  Academic Year
                </label>
                <p class="govuk-body">The academic year this reference data item applies to</p>
                <div id="academic-year-hint" class="govuk-hint">
                  Select from future academic years
                </div>
                <select class="govuk-select" id="academic-year" name="academicYear" aria-describedby="academic-year-hint" required>
                  <option value="">Select academic year</option>
                  {% for year in academicYears %}
                    <option value="{{ year.id }}">{{ year.name }}</option>
                  {% endfor %}
                </select>
              </div>



              <!-- Change Type section removed as requested -->
              
              <div class="govuk-form-group govuk-!-margin-top-4">
                <label class="govuk-label govuk-label--m" for="item-notes">
                  Notes
                </label>
                <div id="item-notes-hint" class="govuk-hint">
                  Add any additional information about this reference data item (usage guidance, data collection information, etc.)
                </div>
                <textarea class="govuk-textarea" id="item-notes" name="itemNotes" rows="5" aria-describedby="item-notes-hint"></textarea>
              </div>
            </fieldset>
          </div>



          <div class="govuk-form-group govuk-!-margin-top-6">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h2 class="govuk-fieldset__heading">Status</h2>
              </legend>
              
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    Publication Status
                  </legend>
                  <div class="govuk-radios govuk-radios--inline">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-active" name="status" type="radio" value="Active" checked>
                      <label class="govuk-label govuk-radios__label" for="status-active">
                        Active
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="status-draft" name="status" type="radio" value="Draft">
                      <label class="govuk-label govuk-radios__label" for="status-draft">
                        Draft
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            </fieldset>
          </div>

          <div class="govuk-button-group govuk-!-margin-top-6">
            <button type="submit" class="govuk-button">Add Reference Data Item</button>
            <a href="/ref-data/items" class="govuk-button govuk-button--secondary">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>
{% endblock %}
