{% extends "layouts/base.njk" %}

{% block pageTitle %}
  {{ title }} - Reference Data Management
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title }}</h1>
      
      <p class="govuk-body">{{ description }}</p>
      
      <p class="govuk-body">
        <span class="govuk-tag">{{ category }}</span>
      </p>
    </div>
    
    <div class="govuk-grid-column-one-third">
      <div class="govuk-form-group">
        <form action="/ref-data/dfe-data/list/{{ listId }}/search" method="get">
          <label class="govuk-label" for="search">
            Search {{ title }}
          </label>
          <input class="govuk-input" id="search" name="q" type="text">
          <button class="govuk-button govuk-!-margin-top-2" data-module="govuk-button">
            Search
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">ID</th>
            {% if list[0].name %}
              <th scope="col" class="govuk-table__header">Name</th>
            {% endif %}
            {% if list[0].text %}
              <th scope="col" class="govuk-table__header">Text</th>
            {% endif %}
            {% for key, value in list[0] %}
              {% if key !== 'id' and key !== 'name' and key !== 'text' %}
                <th scope="col" class="govuk-table__header">{{ key | title }}</th>
              {% endif %}
            {% endfor %}
            <th scope="col" class="govuk-table__header">Actions</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for item in list %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ item.id }}</td>
              {% if item.name %}
                <td class="govuk-table__cell">{{ item.name }}</td>
              {% endif %}
              {% if item.text %}
                <td class="govuk-table__cell">{{ item.text }}</td>
              {% endif %}
              {% for key, value in item %}
                {% if key !== 'id' and key !== 'name' and key !== 'text' %}
                  <td class="govuk-table__cell">
                    {% if value === true %}
                      <span class="govuk-tag govuk-tag--green">Yes</span>
                    {% elif value === false %}
                      <span class="govuk-tag govuk-tag--red">No</span>
                    {% else %}
                      {{ value }}
                    {% endif %}
                  </td>
                {% endif %}
              {% endfor %}
              <td class="govuk-table__cell">
                <a href="/ref-data/dfe-data/list/{{ listId }}/item/{{ item.id }}" class="govuk-link">
                  View
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <a href="/ref-data/dfe-data" class="govuk-back-link">Back to DFE Reference Data</a>
    </div>
  </div>
{% endblock %}
